@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background-color: green;
  border-radius: 50%;
  width: 10px;
  padding: 10px 20px;
  /* font-size: 10px !important; */
  height: 10px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 26px !important;
  font-weight: 900;
}
